<script>
    $(function() {
        $("#menu-tabs").tabs().scrollabletab();
        <% if not system_started? and not admin? and @view_type != :stat %>
            $('#sys-stop-tip').dialog({ 
                modal: true, 
                buttons: {
                    <%= t :close %>: function() {
                        $(this).dialog("close");
                    }
                }
            });
        <% end %>
    });
</script>
<% if not system_started? and not admin? and @view_type != :stat %>
  <div id="sys-stop-tip">
    <p><%= t 'tip.today_menu_disable' %></p>
  </div>
<% end %>
<div id="menu-tabs">
  <% if @shops.count.zero? %>
    <div class="error">
      <h4><%= t 'tip.no_foods_yet' %></h4>
      <% if admin? %>
        <%= link_to t(:new_shop), '#', :class => "link-btn-small", 
            :onclick => "show_popup('#addshop', '#menu-tabs', true); return false;" %>
      <% end %>
    </div>
  <% else %>
    <ul class="menu-header">
      <% @shops.each do |shop| %>
        <li>
          <%= link_to shop.name, shop_path(shop, :type => @view_type), 
              :id => "tab-header-#{shop.id}" %>
        </li>
      <% end %>
    </ul>
    <% @shops.each do |shop| %>
      <div id="shop-<%= shop.id %>"></div>
    <% end %>
    <% if admin? and @view_type != :stat %>
      <%= render 'foods/quickadd' %>
      <div id="quickedit" style="display:none;" class="popup"></div>
    <% end %>
  <% end %>
  <div id="addshop" style="display:none;" class="popup">
    <%= render 'shops/quickadd' %>
  </div>
</div>

