<% if admin? %>
  <%= form_tag(foods_path, :method => 'delete') do %>
    <%= render 'shops/menu_core', :shop => shop %>
    <hr/>
    <div>
      <%= render 'shops/admin_ops', :shop => shop %>
    </div>
  <% end %>
<% else %>
  <%= form_tag(orders_path, :method => 'post') do %>
    <%= render 'shops/menu_core', :shop => shop %>
    <% if system_started? %>
      <hr/>
      <div>
        <%= link_to_submit t(:batch_order), :class => 'link-btn-small' %>
      </div>
    <% end %>
  <% end %>
<% end %>
