<h3 class='window-title'><%= t :sys_stat %></h3>
<div class="formbody">
  <table>
    <tr>
      <td width="150"><%= t 'tip.user_count' %></td>
      <td><%= user_count %></td>
    </tr>
    <tr>
      <td width="150"><%= t 'tip.total_remain' %></td>
      <td><%= as_money all_remain_money %></td>
    </tr>
  </table>
</div>

