<h3 class='window-title'><%= t :sys_stat %></h3>
<div class="formbody">
  <table>
    <tr>
      <td width="150"><%= t 'tip.user_count' %></td>
      <td><%= user_count %></td>
    </tr>
    <tr>
      <td width="150"><%= t 'tip.total_remain' %></td>
      <td><%= all_remain_money %></td>
    </tr>
  </table>
  <hr/>
  <% if system_started? %>
    <%= link_to t(:stop_sys), system_path(0), :class => 'link-btn-small' %>
  <% else %>
    <%= link_to t(:start_sys), system_path(1), :class => 'link-btn-small' %>
  <% end %>
</div>

