<h3 class='window-title'><%= t :my_stat %></h3>
<div class="formbody">
  <table>
    <tr>
      <td width="100"><b><%= t :my_name %></b></td>
      <td>
        <% if user_signed_in? %>
          <%= current_user.name %>
        <% else %>
          <%= t 'tip.not_signin' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td width="100"><b><%= t :my_remain %></b></td>
      <td><%= as_money(current_user.money) if user_signed_in? %></td>
    </tr>
  </table>
</div>

