<div id="dashboard">
  <ul class="nav">
    <% if user_signed_in? %>
    <li><%= link_to t(:menu), root_path %></li>
    <li><%= link_to t(:profile), '#' %></li>
    <li><%= link_to t(:stat), stat_path %></li>
    <% if current_user.admin? %>
      <li><%= link_to t(:user_stat), user_stat_path %></li>
    <% else %>
      <li><%= link_to t(:history), user_history_path(current_user) %></li>
    <% end %>
    <li><%= link_to t(:logout), destroy_user_session_path, :method => :delete %></li>
    <% else %>
    <li><%= link_to t(:sign_up), new_registration_path(resource_name) %>
    <li><%= link_to t(:sign_in), new_session_path(resource_name) %>
    <% end %>
  </ul>
</div>

