<h3 class='window-title'><%= t :order_status %></h3>
<div class='formbody'>
  <table class='stat'>
    <thead>
    <tr>
      <th width="100"><b><%= t :shop_name %></b></th>
      <th width="200"><b><%= t :food_name %></b></th>
      <th width="100"><b><%= t :food_count %></b></th>
    </tr>
    </thead>
    <tbody>
    <% @shops.each do |shop| %>
      <% show_name = false %>
      <% shop.sort_foods.each do |food| %>
          <tr class=<%= 'quiet' if food.order_count == 0 %>>
          <td><%= shop.name unless show_name %></td>
          <td><%= food.name %></td>
          <td><%= food.order_count %></td>
        </tr>
        <% show_name = true %>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <hr>
  <span><b><%= t :total_price %></b><%= Order.total_price %></span><br/>
  <span style="color: red; font-size: 90%;"><%= t 'tip.check_user_order' %></span>
</div>
