<h3 class='window-title'><%= t :user_orders %></h3>
<div id="user-orders" class='formbody'>
  <% user_cnt = 0 %>
  <table class="stat">
    <thead>
    <tr>
      <th width="100"><b><%= t :user_name %></b></th>
      <th width="300"><b><%= t :food_name %></b></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <% write_name = false %>
      <% user_cnt += 1 if user.orders.count > 0 %>
      <% user.orders.each do |order| %>
        <tr>
          <td><%= user.name unless write_name %></td>
          <td><%= order.full_food_name %></td>
          <% write_name = true %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <hr/>
  <span><b><%= t :order_user_count %></b><%= user_cnt %></span>
</div>
