<h3 class='window-title'><%= t :user_stat %></h3>
<div class='formbody'>
  <table class='stat'>
    <thead>
    <tr>
      <th width="250" id="tbl_head"><b><%= t :user_name %></b></th>
      <th width="100"><b><%= t :money_remain %></b></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <% unless user.admin? %>
        <tr>
          <td><%= user.name %></td>
          <td id="user<%= user.id %>"><%= user.money %></td>
          <td><%= link_to t(:add_money), user_money_path(user), :remote => true %></td>
          <td><%= link_to t(:spend_money), user_spend_money_path(user), :remote => true %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <div id="addmoney" class="popup"></div>
  <div id="spendmoney" class="popup"></div>
</div>
