<div id="orders">
  <h3 class='window-title'><%= t :my_orders %></h3>
<div class="formbody">
<% if @orders.count == 0 %>
  <span><%= t 'tip.no_orders_yet' %></span>
<% else %>
<table class="stat">
  <% @orders.each do |order| %>
    <tr>
      <% food = Food.find order.food_id %>
      <td width="250"><%= food.full_name %></td>
      <td width="30"><%= food.price %></td>
      <% if system_started? %>
        <td width="40">
          <%= link_to t(:cancel_order), order_path(order), :method => :delete %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<hr>
<span><b><%= t :total_price %></b><%= current_user.order_cost %></span>
<% end %>
</div>
</div>
