<div id="menu">
  <table class="stat">
    <thead>
    <tr>
      <th width="21">
          <%= check_box_tag "checkall", "checkall", false, :onclick => "markAll(this)" %>
      </th>
      <th width="100" id="tbl_head"><b><%= t :shop_name %></b></th>
      <th width="200"><b><%= t :food_name %></b></th>
      <th width="50"><b><%= t :food_price %></b></th>
    </tr>
    </thead>
    <tbody>
    <% if @shops.count.zero? %>
      <tr>
        <td></td>
        <td></td>
        <td style="text-align: center;"><%= t 'tip.no_foods_yet' %></td>
      </tr>
    <% end %>
    <% @shops.each do |shop| %>
      <% show_name = false %>
      <% shop.foods.each do |food| %>
        <tr>
          <td>
            <%= check_box_tag 'food_ids[]', food.id %>
          </td>
          <td><%= shop.name unless show_name %></td>
          <td id="food<%= food.id %>"><%= food.name %></td>
          <td><%= food.price %></td>
          <%= render 'foods/item_link', :food => food %>
        </tr>
        <% show_name = true %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
