<h3 class='window-title'>
  <% if system_started? %>
    <%= t 'tip.today_menu_enable' %>    
  <% else %>
    <%= t 'tip.today_menu_disable' %>    
  <% end %>
</h3>
<div id="menu-wrap" class='formbody'>
  <% if admin? %>
    <%= form_tag(foods_path, :method => 'delete') do %>
      <%= render 'foods/menu' %>
     <div>
       <%= link_to t(:batch_delete), '#', :class => 'link-btn-small', 
           :onclick => "deleteFoods(this); return false" %>
       <%= link_to t(:new_food), "#", :class => "link-btn-small", :id => "add-food-link", 
           :onclick => "show_popup('#quickadd', '#tbl_head', true); return false;" %>
       <%= link_to t(:new_shop), new_shop_path, :class => "link-btn-small", 
           :id => "addshop-btn", :remote => true %>
     </div>
    <% end %>
    <%= render 'foods/quickadd' %>
    <div id="quickedit" class="popup"></div>
    <div id="addshop" class="popup"></div>
  <% else %>
    <%= form_tag(orders_path, :method => 'post') do %>
      <%= render 'foods/menu' %>
      <% if system_started? %>
      <div>
        <%= link_to_submit t(:batch_order), :class => 'link-btn-small' %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>

