<%= form_for(@food) do |f| %>
    <div id="error_tip"></div>
    <div>
      <%= f.label t(:food_name) %>
      <%= f.text_field :name, :id => 'food_name', :class => 'txt-ctrl', :size => "20" %>
    </div>
    <div>
      <%= f.label t(:food_price) %>
      <%= f.text_field :price, :class => 'txt-ctrl', :size => "5" %>
    </div>
    <div>
      <%= link_to_submit t(:update), :class => 'link-btn-small' %>
      <%= link_to t(:close), '#', :class => 'link-btn-small', 
          :onclick => "hide_popup('#quickedit'); return false" %>
    </div>
<% end %>
