<!DOCTYPE html>
<html>
<head>
  <title><%= t :order_lunch %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div class="middle">
        <div id="logo">
         <h1><%= link_to t(:order_lunch), root_path %></h1>
        </div>
        <%= render 'shared/dashboard' %>
      </div>
    </div>
    <div id="content" class="middle">
      <%= yield %>
    </div>
    <div id="footer"> 
      <div class="middle">
        <span class="quiet">a
                <a href="http://codemacro.com">Kevin Lynx</a> product</span><br/>
        <span class="quiet">&copy;Kevin Lynx 2012</span>
      </div>
    </div>
</body>
</html>
